.home {
  .pd-form {
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
    position: relative;
    top: 0;
  }

  .hidden {
    top: -245px;
  }
}

.classification-progress {
  display: inline-block;
}