<div layout="column" class="home" layout-fill>
    <md-nav-bar md-selected-nav-item="home.currentNavItem" nav-bar-aria-label="navigation">
        <md-nav-item name="home.general" md-nav-sref="home.general">Home</md-nav-item>
        <md-nav-item name="home.loans" md-nav-sref="home.loans">Loan Statistics</md-nav-item>
        <md-nav-item name="home.investors" md-nav-sref="home.investors">Investor Statistics</md-nav-item>
    </md-nav-bar>
    <md-button class="md-fab md-fab-top-right" ng-click="home.toggleForm()">
        <md-icon>assessment</md-icon>
    </md-button>
    <md-content layout="column" layout-align="center">
        <md-card class="pd-form" flex="85" ng-class="{hidden: !home.openForm}">
            <form name="loanDetails" ng-submit="home.calculatePD(loanDetails.$valid)">
                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Amount</label>
                        <input type="number" name="amount" min="1" step="0.01" ng-model="home.loanDetails.amount" required>
                        <div ng-messages="loanDetails.amount.$error" ng-if="loanDetails.amount.$touched">
                            <div ng-message="required">You <b>must</b> provide the loan amount.</div>
                            <div ng-message="min">The amount has to be at least 1$.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Interest rate</label>
                        <input type="number" name="interest" min="0" step="0.01" ng-model="home.loanDetails.intRate" required>
                        <div ng-messages="loanDetails.interest.$error" ng-if="loanDetails.interest.$touched">
                            <div ng-message="required">You <b>must</b> provide the interest rate of the loanDetails.</div>
                            <div ng-message="min">The interest rate has to be at least 0%.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Purpose</label>
                        <md-select name="purpose" ng-model="home.loanDetails.purpose" required>
                            <md-option ng-repeat="type in home.loanTypes" value="{{type.purpose}}">
                                {{type.title}}
                            </md-option>
                        </md-select>
                        <div ng-messages="loanDetails.purpose.$error" ng-if="loanDetails.purpose.$touched">
                            <div ng-message="required">You <b>must</b> select the purpose.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Term (months)</label>
                        <md-select ng-model="home.loanDetails.term">
                            <md-option ng-repeat="term in [36,  60]" value="{{term}}" required>
                                {{term}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div layout-gt-xs="row">
                    <md-autocomplete flex
                                     md-input-name="stateAutocomplete"
                                     md-input-minlength="2"
                                     md-input-maxlength="18"
                                     md-selected-item="home.loanDetails.state"
                                     md-search-text="home.searchText"
                                     md-items="item in home.querySearch(home.searchText)"
                                     md-item-text="item.name"
                                     md-floating-label="State">
                        <md-item-template>
                            <span md-highlight-text="home.searchText">{{item.name}}</span>
                        </md-item-template>
                        <div ng-messages="loanDetails.stateAutocomplete.$error" ng-if="loanDetails.stateAutocomplete.$touched">
                            <div ng-message="minlength">Your entry is not long enough.</div>
                            <div ng-message="maxlength">Your entry is too long.</div>
                        </div>
                    </md-autocomplete>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Home Ownership</label>
                        <md-select ng-model="home.loanDetails.homeOwnership">
                            <md-option ng-repeat="ownership in home.homeOwnershipTypes" value="{{ownership}}">
                                {{ownership}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Employment Length</label>
                        <md-select ng-model="home.loanDetails.employmentLength">
                            <md-option ng-repeat="length in home.employmentLengthOptions" value="{{length.value}}">
                                {{length.title}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div layout-gt-xs="row" layout-align="end">
                    <md-button class="md-raised md-primary" type="submit">Calculate PD</md-button>
                </div>
            </form>
        </md-card>
        <ui-view class="pd-form" ng-class="{hidden: !home.openForm}"></ui-view>
    </md-content>
</div>



