<md-card>
    <md-card-content>
        <div google-chart chart="loans.statusChart"></div>
    </md-card-content>
</md-card>
<md-card>
    <md-card-content>
        <div google-chart chart="loans.purposeChart"></div>
    </md-card-content>
</md-card>
<md-card>
    <md-card-content>
        <div google-chart chart="loans.gradesChart"></div>
    </md-card-content>
</md-card>
<md-card>
    <md-card-content>
        <div google-chart chart="loans.employmentChart"></div>
    </md-card-content>
</md-card>
<md-card>
    <md-card-content>
        <div google-chart chart="loans.ownershipChart"></div>
    </md-card-content>
</md-card>