<md-dialog aria-label="Classification result" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Classification Result</h2>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                Based on historic data the future behaviour of this loan should be: <strong>{{ home.currentLoan.behaviour }}</strong>
                Would you accept this loan?
            </div>
        </md-dialog-content>
        <md-dialog-actions layout-align="center center">
            <md-button class="md-fab md-mini md-primary" ng-click="home.acceptLoan(true)">
                <md-icon>thumb_up</md-icon>
            </md-button>
            <md-button class="md-fab md-mini md-warn" ng-click="home.acceptLoan(false)">
                <md-icon>thumb_down</md-icon>
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>